<html>
    <head>
        <title>Semantic Segmentation Models</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Stile_Models.css') }}">
    </head>
    <body>
        <header>
            <nav id="barra">
                <div class="logo">
                    <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo">
                </div>
                <div class="title">
                    <h1>Models</h1>
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('aboutMe') }}">About Me</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <section id="model">
            <div class="container">
                <div class="m">
                    <div>
                        <h2>Let's try our model</h2>
                        <p>Choose a model and upload an image:</p>
                    </div>

                    <!-- Scelta modello -->
                    <div>
                        <label>
                            <input type="radio" name="model" value="DeepLabV2" checked>
                            <span class="model-option">DeepLabV2</span>
                        </label>
                        <label>
                            <input type="radio" name="model" value="BiSeNet">
                            <span class="model-option">BiSeNet</span>
                        </label>
                        <label>
                            <input type="radio" name="model" value="BiSeNetFDA">
                            <span class="model-option">BiSeNetFDA</span>
                        </label>
                        <label>
                            <input type="radio" name="model" value="BiSeNetDACS">
                            <span class="model-option">BiSeNetDACS</span>
                        </label>
                    </div>

                    <!-- Upload immagine -->
                    <div>
                        <label for="imageInput" class="custom-file-btn">Upload Image</label>
                        <input type="file" id="imageInput" accept="image/*" onchange="handleFileUpload(event)" hidden>
                    </div>
                </div>
            </div>
        </section>

        <section id="result">
            <div class="container">
                <div class="originale">
                    <h2>Original Image</h2>
                    <img id="defaultOriginal" src="{{ url_for('static', filename='photoCityscapes.png') }}" style="max-width:1000px;">
                    <img id="originalImage" style="max-width:1000px; display:none;">
                </div>
                <div class="segmentata">
                    <h2>Segmented Image</h2>

                    <div id="loaderSegmented" style="display: none;">
                        <img src="{{ url_for('static', filename='spinner.gif') }}" alt="Loading..." style="width:50px;">
                        <p>Processing image, please wait...</p>
                    </div>
                    <img id="defaultSegmented" src="{{ url_for('static', filename='predicted_segmentation.png') }}" style="max-width:1000px;">
                    <img id="segmentedImage" style="max-width:1000px; display:none;">
                </div>
            </div>
        </section>

        <section id="legend">
            <div class="container">
                <div id="legendContainer"></div>
            </div>
        </section>

        <section id="download">
            <a id="downloadSegmented" style="display:none" download="immagine_segmentata.png">
                <button class="custom-file-btn">Download Segmented Image</button>
            </a>
        </section>

        <footer id="footer">
            <div class="container">
                <div class="left">
                <div class="page">
                        <p>Find out more <a href="{{ url_for('aboutMe') }}">about me</a></p>
                    </div>
                    <div class="social">
                        <p>Follow me on <a href="https://github.com/elenanespolo" target="_blank">GitHub</a> and <a href="https://www.linkedin.com/in/elena-nespolo-62204934a/" target="_blank">LinkedIn</a></p>
                    </div>
                </div>
                <div class="center">
                    <p>2024 Semantic Segmentation Project</p>
                </div>
                <div class="right">
                    <img src="{{ url_for('static', filename='logoPolito.png') }}" alt="Logo" width="150">
                </div>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>